.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}

.trending div img{
    width: 100%;
    border-radius: 10px;
}

.trending div h3{
    font-family: 600;
    margin-top: 10px;
}

